/* lidt justering af "baner" og billeder */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul li {
    background-color: #eee;
    margin-block-end: 1em;
    height: 5.5em;
}

ul li img {
    max-height: 5em;
    max-width: 10em;
}

/* animationer */

